body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.list-group-flush .list-group-item{
  margin: 10px 0;
  border-radius: 5px;
  padding: 20px;
  color: #10559A;
  display: flex;
  justify-content: space-between;
}
.list-group-flush .list-group-item .todo{
  flex-grow: 1;
}
.list-group-flush .list-group-item form{
  display: inline;
}
.list-group-flush .list-group-item input[type="text"]{
  border-radius: 5px;
  border: 1px solid #10559A;
  padding: 5px 10px;
  width: 90%;
}
.list-group-flush .list-group-item .icons svg{
  margin: 0 10px;
  cursor: pointer;
}
.list-group-flush .list-group-item .icons .edit{
  color: #10ce10;
}
.list-group-flush .list-group-item .icons .delete{
  color: #da4242;
}
@media (min-width: 576px){
  .form-inline .form-group{
    flex-grow: 1;
  }
  .form-inline .form-control{
    width: 95%;
  }
  .form-inline .btn-primary{
    width: 200px;
  }
}

@media(max-width: 575px){
  .form-inline{
    display: block;
    margin-top: 20px;
  }
  .form-inline .form-control{
    width: 100%;
  }
  .form-inline .btn-primary{
    width: 100%;
  }
}